GRANT_TYPE=password
CLIENT_ID=2
HOST=https://dev.selleri.co.id/api
CLIENT_SECRET=7lJC833F5COjxMfFGS9xcLoPFEmKTIXnf6gYClKR
APP_ID=dev-selleri

# FIREBASE APP DISTRIBUTION
APP_ID_ANDROID_DEV="1:957311922583:android:f25f459b9ab8092f2794d2"
APP_ID_ANDROID_STAGE="1:957311922583:android:d61a59e4b45bfdd62794d2"
APP_ID_IOS_DEV="1:957311922583:ios:41c668332f306ec92794d2"
APP_ID_IOS_STAGE="1:957311922583:ios:487efa18122c20842794d2"
GROUP_TESTER="dgti"
BUILD_PATH_ANDROID="build/app/outputs/flutter-apk/"
BUILD_PATH_IOS="build/ios/ipa/selleri.ipa"

