<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>107680786292-md9uile1r6mdrp4496ft1jqh9vlbssql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwdSF-h8TkFuNsigTAGFYffxactoLkY7U</string>
	<key>GCM_SENDER_ID</key>
	<string>107680786292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dgti.selleri</string>
	<key>PROJECT_ID</key>
	<string>selleri-486e6</string>
	<key>STORAGE_BUCKET</key>
	<string>selleri-486e6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107680786292:ios:25e36a95642325833cee21</string>
	<key>DATABASE_URL</key>
	<string>https://selleri-486e6.firebaseio.com</string>
</dict>
</plist>